apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: cloud-native-dev
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: hostpath
  resources:
    requests:
      storage: 5Gi